h1{
  background: #BBD2C5;
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
  background-size: cover;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-top: 0;
}

button{
  float: right;
}



button {
  font-size: 20px;
}

#addItem2, #addItem3, #item-form2, #item-form3{
  display: none;
}
