h1{
  background: url(https://i.imgur.com/HQbgknF.gif);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 370px;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  text-align: left;
  font-style: italic;
  border-bottom: 20px black;
  font-size: 60px;
  margin-bottom: -20px;
}

h2 {
    position: absolute;
    left:900px;
    top: 120px;
    color: white;
    font-size: 45px;
    border: 2px solid white;
    padding: 25px;
}

#addItem2, #addItem3, #item-form2, #item-form3{
  display: none;
}


#btnOK{
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
  margin-top: 0;
}

#btnOK:hover{
  border:1px solid #000;
  background:#ffacac;
  margin-top: 0;
}


#item-form, #item-form2, #item-form3{
  width: 350px;
}

.well {
    background: #9999c1;
    border: 1px solid black;
    width: 350px;
    height: 400px;
}
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 350px;
    width: 100%;
    list-style-type:none;
list-style-position:none;
}

li {
    float: left;
    list-style-type:none;
list-style-position:none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 30px;
}*/

.navbar {
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    position: relative;

}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
